<footer class="footer" id="footer">
  <div class="f-option" id="chats">
    <div>
      <i class="fa-solid fa-square-poll-horizontal"></i>
    </div>
    <p>Chats</p>
  </div>
  <div class="f-option" id="updates">
    <div>
      <i class="fa-solid fa-comment"></i>
    </div>
    <p>Updates</p>
  </div>
  <div class="f-option" id="communities">
    <div>
      <i class="fa-solid fa-users"></i>
    </div>
    <p>Communities</p>
  </div>
  <div class="f-option" id="calls">
    <div>
      <i class="fa-solid fa-square-poll-horizontal"></i>
    </div>
    <p>Calls</p>
  </div>
</footer>
